html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body{
    background-image: url(../img/backgound.png) ;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    align-items: center;
    padding: 18px 80px;
}
.header-section {
    display: flex;
    align-items: center;
}
.header-nav-items:hover path{
    fill: #3CB878;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}
.form{
    display: flex;
    flex-direction: column;
    position: relative;
    background: #FFFFFF;
    width: 444px;
    /*height: 584px;*/

}
.form:before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 29px;
    background: #3CB878;
}
.header-logo:hover{
    color: #3CB878;
}
.header-logo{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
}
.header-text{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}
.span1{
    text-decoration: none;
    color: #FFFFFF;
}
.span1:hover{
    color: #3CB878;
}
/*.confirm{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-size: 14px;*/
/*    line-height: 14px;*/
/*}*/
.h3 {
    display: flex;
    justify-content: flex-end;
}
.h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 20px;
    color: hsla(0, 0%, 26%, 1);
    line-height: 1;
    padding: 32px 60px 15px ;
}
.title1 {
    font-size: 14px;
    text-decoration: none;
    color: #3CB878;
}
.title1:hover {
    text-decoration: underline;

}
.button{
    /*display: flex;*/
    /*justify-content:center;*/
    padding: 0 27px 31px 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}
.button-style1{
    background: #305DB8;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    border: none;


}
 .button-style2{
     background: #DF4A32 ;
     width: 160px;
     height: 48px;
     border-radius: 5px;
     border: none;

 }
 .button-style1:after{
     position: absolute;
     width: 1px;
     height: 28px;
     left: 49px;
     top: 10px;

     background: #2B0D09;
     mix-blend-mode: normal;
     opacity: 0.1;
 }
 .button-confirm{
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     width: 324px;
     height: 46px;
     left: 60px;
     background: rgba(60, 184, 120, 0.8);
     border-radius: 4px;
     border: none;
     color: #FFFFFF;
     margin-bottom: 38px;

 }
 .confirm{
    display: flex;
    /*justify-content: space-between;*/

 }
 .div-checkbox1{
     width: 20px;
     height: 20px;
     left: 62px;
 }
 .checkbox-text{
     position: absolute;
     padding-left: 11px;


 }
.form-input{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 16px;
    width: 322px;
    height: 44px;

}
.div-form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 65px;
    padding-top: 12px;
}
.header.separator{
    height: 19px;
    width: 1px;
    background-color: hsla(60, 100%, 95%, .9);
    padding: 0;
}
.header aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 347px;
}.center-element{
     position: relative;
     font-family: var(--main-font-family);
     color: hsla(0, 0%, 52%, 1);
     display: inline-block;
     width: 100%;
     text-align: center;
 }
.center-element:before{
    left: 0;
    position: absolute;
    width: calc(50% - 10px);
    height: 2px;
    top: 50%;
    background-color: hsla(0, 0%, 95%, 1);
    display: block;
    content: "";
}

.center-element:after{
    right: 0;
    position: absolute;
    width: calc(50% - 10px);
    height: 2px;
    top: 50%;
    background-color: hsla(0, 0%, 95%, 1);
    display: block;
    content: "";

}
.checkbox-text{
    position: relative;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    color: #434343;
    padding-bottom: 20px;
}
.checkbox-text-hover:hover{
    text-decoration: underline;
    color: #3CB878cc;
}
.checkbox-text-hover{
    color: #3CB878CC;
    text-decoration: none;
}


