/*header*/
body{
    width: 1280px;
    margin: 0 auto;
}
.header{
    font-size:18px;
    display: flex;
    justify-content: center;
}
.link{
    /*color: red;*/
    text-decoration: none;
    display: inline-block;
    margin: 0 72px;
    height: 27px;
    width: 68px;
    color: #FF0000;
    font-weight: bold;
}
.button-style{
    border: none;
    color: #fff;
    border-radius: 4px;
    background: #FF0000;
    width: 191px;
    height: 51px;
    margin: 66px 0 82px;
    font-weight: bold;
}
.main{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.button{
    text-align: center;
}
.footer{
    color: #373737;
    display: flex;
    justify-content: flex-end;
}
.footer-text {
    margin: 0 105px 32px 0;
    font-size: 16px;
    font-weight: bold;

}
.text-container{
    margin:  0 auto;
    width: 1145px;
    color: #373737;
    font-style: normal;
    font-weight: normal;
}
.heading{
    font-weight: bold;
    color: #373737;
}
