.all-elements {
    background-image: url("../imgs/Background.png");
    /*height: 768px;*/
    /*width: 1366px;*/
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.header {
    display: flex;
    justify-content: space-around;
    padding: 51px 0 0 177px;

}

.logo-menu {
    display: inline-block;
    background-image: url("../imgs/Logo.png");
    background-repeat: no-repeat;
}

.logo-menu:hover {
    background-image: url("../imgs/Logo2.png");
}

.logo-menu:hover .main-title {
    color: #F26522;
}

.logo-menu:hover .main-title-down {
    color: #F26522;
}

.main-title, .main-title-down {
    color: #fff;
    padding-left: 60px;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 700;
}

.main-title-down {
    font-size: 19px;
}

.main-title-link, .contact-info-link, .tours-link, .details-link {
    text-decoration: none;
    color: #fff;

}

.contact-info {

    padding-left: 716px;
}

.contact-text {
    font-size: 18px;


}

.contact-info-link:hover {
    color: #F26522;
}

.contact-number {
    text-align: end;
    padding: 19px 0 17px 0;
}

.tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 61px;
}

.tours-img {
    padding: 0 30px;
}

.tours-title {
    text-align: center;
    padding: 20px 0 37px 0;
    font-size: 18px;
    color: #fff;
}

.text-container {
    position: absolute;
    width: calc(100% - 60px);
    height: calc(100% - 245px);
    transform: translateY(0);
    left: 32px;
    background: #F26522;
    color: #fff;
    transition: transform linear 500ms;
    overflow: hidden;

}

.tours-title:hover {
    color: #F26522;
}


.from {
    padding: 7px 0 8px 17px;
    font-size: 10px;
}

.price {
    padding-left: 16px;
    font-size: 20px;
}

.details {
    padding-left: 128px;
    font-size: 14px;
}

.details:after {
    content: ">";
    padding-left: 16px;
}

.tours-img {
    width: 300px;

}

.tours-img {
    position: relative;

}

.text-container {
    display: none;
    position: absolute;
    top: 165px;
    width: calc(100% - 60px);
    height: 55px;
    background: #F26522;
    color: #fff;

}

.tours-img:hover .tours-title {
    color: #F26522;
}

.tours-img:hover .text-container {
    display: inline-block;

}

.footer {
    text-align: center;
    font-size: 12px;
    color: #fff;
}

