body {
	font-family: 'Roboto', sans-serif;
	color: #2C2C2C;
}
.container.wrapper {
	margin: auto;
	min-width: 80%;
	max-width: 1280px;
}

.header .logo {
	margin-top: 60px;
	font-size: 80px;
	color: deepskyblue;
	text-decoration: none;
}

.header .logo span {
	color: black;
}

.header .menu {
	background-color: #35444F;
	margin-top: 35px;
}

.header .menu ul {
	display: list-item;
	text-align: center;
}

.header .menu .nav-item {
	border-left: 1px solid #FFFFFF;
	padding: 26px 40px;
	display: inline-block;
}

.header .menu .nav-item > a {
	font-size: 24px;
	color: #FFFFFF;
	text-decoration: none;
}

.header .menu .nav-item:last-child {
	border-right: 1px solid #FFFFFF;
}

.header .menu .nav-item:hover {
	background: #222F3A;
	cursor: pointer;
}

.main {
	margin-top: 50px;
}

.section-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.section-main .menu {
	border: 1px solid black;
	font-weight: normal;
	font-size: 26px;
	color: #495863;
	align-self: start;
	flex: 0;
}

.section-main .menu .menu-item {
	padding: 25px 80px 25px 44px;
	display: block;
	text-decoration: none;
	color: #495863;
}

.section-main .menu .menu-item > a {
	width: 100%;
	display: inline-block;
	color: #485863;
	text-decoration: none;
	white-space: nowrap;
}


.section-main .menu .menu-item:hover {
	padding-right: 62px;
	text-align: center;
	background-color: #DBDBDB;
	padding-left: 62px;
	color: #35444F;
}

.section-main .menu .menu-item:hover > a {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}


.section-main article {
	flex: 1;
	margin-left: 50px;
}

.section-main .img-wrapper {
	border: 1px solid black;
}

.main-article img {
	width: 100%;
	height: auto;
	display: block;
}

.main-article img:hover {
	transform: scale(1.1);
	transition: all 1.2s ease-out;
}

.main-article .img-wrapper-action {
	width: 30%;
	margin: 75px auto;
	overflow: hidden;
}

.main-article .text p {
	margin: 35px auto;
	width: 100%;
	display: block;
	font-size: 18px;
	line-height: 1.2em;
	color: #2C2C2C;
}

.footer {
	color: #010101;
	margin-bottom: 30px;
}

.footer-wrapper {
	background-color: rgba(99, 105, 110, 0.48);
	display: flex;
	justify-content: space-between;
	padding: 20px 40px;
}

.footer .nav {
	color: #010101;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.footer .nav-menu .nav {
	display: flex;
}
.footer .nav-menu .nav-item {
	flex: 0;
	white-space: nowrap;
	margin-left: 10px;
	margin-right: 10px;
}
.footer .nav-menu .nav-item a {
	font-size: 28px;
	line-height: 1;
	text-decoration: none;
	color: black;
	box-sizing: border-box;
	padding-bottom: 13px;
}
.footer .nav-menu .nav-item a:hover {
	color: #215962;
	border-bottom: 2px solid #215962;
}
.footer .copyright {
	font-size: 28px;
	line-height: 1;
	color: black;
}

