html{
    font-family: 'Roboto', sans-serif;
}
.background {
    background-image: url(../Sections-background/section-1.jpg);
     background-size: 100%;
    background-repeat: no-repeat;
    height: 1012px;
}
.header{
    display: flex;
    justify-content: space-around;
}
.header-item{
    color: #FFFFFF99;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.header-logo{
    background-image: url(../header/Polygon11.png) ;
    background-repeat: no-repeat;
    padding-top: 26px;
    width: 58px;
    height: 67px;
    left: 0px;
    top: 26px;
}
.logo{

}
.near-logo{
    padding-left: 20px;
}
.center-element-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}
.center-element-header-h1{
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
}